{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint":["python", "app.py"],
        "Image": "bringhi/basic-lily:v0.2@sha256:00e83c5c5367416deed5e38e6625e0951cf13d40c0515ac33b12c4b96118ec09"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
       "outputs": [
                {
                    "Name": "outputs",
                    "StorageSource": "IPFS",
                    "path": "/outputs"
                }
            ],
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}



