{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
       "Entrypoint": [
          "cd",
          "app",
          "&&",
          "python3",
          "app.py"
        ],
        "Image": "bringhi/basic-lily@sha256:18c842c6ec3e60d6306f4677e2a2375aa3d3b3ef5067eb9e1728dae188084e15"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
